
*.h5
1e+00_Zsun_population_max.h5-2.zip
1e+00_Zsun_population.h5-2.zip
1e+00_Zsun_population.h5
1e+00_Zsun_population_max.h5
*.csv
/data
/.ipynb_checkpoints
__pycache__
/__pycache__
/testing
/graphs

